iiit
{
	background-color: lightblue;

}
name
{   margin-left: 100px;
	text-align: left; 
	color: yellow;
}
image
{
	margin-left: 100px;
}
sport
{   margin-left: 100px;
	text-align: center;
	color: red;
}

